#[ENV] Application environment: production, development 生产环境设置为production
ENV=development
#[DEBUG] Debug mode: true, false 生产环境建议关闭
APP_DEBUG=true

#[DB]
#数据库地址
DB_HOST=127.0.0.1
#数据库端口
DB_PORT=3306
#数据库名称
DB_NAME=db_name
#数据库用户
DB_USER=db_user
#数据库密码
DB_PASSWORD=db_password
#数据库字符集
DB_CHARSET=utf8mb4
#数据表前缀
DB_PREFIX=kc_
#自动写入时间戳字段
DB_AUTO_TIMESTAMP=true
# 字段缓存
DB_FIELDS_CACHE=false

#[redis]
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_PASSWORD=
REDIS_PREFIX=kucoder: